@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");
/***  Transitions  ***/
/***  Radius  ***/
/***  Box Border  ***/
/***  Cover BG  ***/
.search-input {
  position: relative; }
  .search-input input {
    border-radius: 0; }
  .search-input button {
    position: absolute;
    right: 0;
    top: 1px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #27328b; }
    .search-input button span {
      color: #fff; }

#footer .social-links-block .social-links {
  padding: 10px 0 20px;
  background: #27328b; }
  #footer .social-links-block .social-links ul {
    width: 100%; }
    #footer .social-links-block .social-links ul li {
      background: url(../images/social-media-sprite.png) no-repeat;
      height: 20px;
      width: 20%;
      overflow: hidden; }
      #footer .social-links-block .social-links ul li a {
        display: block;
        height: 20px; }
        #footer .social-links-block .social-links ul li a:hover, #footer .social-links-block .social-links ul li a:focus {
          background: #efeadf;
          font-weight: bold;
          color: #333333; }
    #footer .social-links-block .social-links ul .facebook-logo {
      background-position: 50% 0; }
    #footer .social-links-block .social-links ul .twitter-logo {
      background-position: 50% -38px; }
    #footer .social-links-block .social-links ul .yt-logo {
      background-position: 50% -69px; }
    #footer .social-links-block .social-links ul .rss-logo {
      background-position: 50% -101px; }
    #footer .social-links-block .social-links ul .blog-logo {
      background-position: 50% -131px; }

.black-underlay {
  background: rgba(0, 0, 0, 0.5); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

h1 {
  margin-top: 0; }

a {
  color: #27328b;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }
  a:hover {
    color: #58595b;
    text-decoration: none; }

address {
  margin-bottom: 10px; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none; }

.navbar {
  margin-bottom: 0; }

.breadcrumb {
  background: none; }

.breadcrumb > li + li:before {
  content: "\203A";
  color: #333333;
  font-weight: bold; }

#skip a {
  position: absolute;
  left: auto;
  top: -10000px;
  height: 1px;
  overflow: hidden; }
  #skip a:focus {
    position: absolute;
    height: auto;
    top: 0;
    background: #27328b;
    text-align: center;
    z-index: 9999;
    color: #fff; }

.primary-nav nav {
  background: rgba(255, 255, 255, 0.75);
  border: 0; }
  .primary-nav nav .navbar-header {
    width: 10%; }
    @media only screen and (max-width: 768px) {
      .primary-nav nav .navbar-header {
        width: 100%; }
        .primary-nav nav .navbar-header a {
          width: 10%; } }
    .primary-nav nav .navbar-header a {
      padding: 0; }
  .primary-nav nav .navbar-toggle {
    margin-top: 20px; }
  .primary-nav nav .navbar-collapse {
    padding: 0; }
  .primary-nav nav #navbar-collapse {
    padding: 0; }
  @media only screen and (max-width: 768px) {
    .primary-nav nav .navbar-nav {
      margin: 0; } }
.primary-nav ul#main-nav {
  width: 90%; }
  @media only screen and (max-width: 768px) {
    .primary-nav ul#main-nav {
      width: 100%; } }
  .primary-nav ul#main-nav > li {
    text-align: center;
    width: 15.5%;
    position: static; }
    @media only screen and (max-width: 768px) {
      .primary-nav ul#main-nav > li {
        width: 100%;
        text-align: left;
        position: relative; } }
    .primary-nav ul#main-nav > li:last-child {
      width: 7%;
      background: #8fc7ea; }
      @media only screen and (max-width: 768px) {
        .primary-nav ul#main-nav > li:last-child {
          display: none; } }
    .primary-nav ul#main-nav > li:nth-child(6) span {
      border: 0; }
    .primary-nav ul#main-nav > li.open {
      background: #d1c8b6; }
    .primary-nav ul#main-nav > li > a {
      padding: 0;
      font-size: 16px;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #333333;
      border-right: 1px solid #c8c8c8; }
      @media only screen and (max-width: 992px) {
        .primary-nav ul#main-nav > li > a {
          font-size: 13px;
          font-size: 0.8125rem; } }
      @media only screen and (max-width: 768px) {
        .primary-nav ul#main-nav > li > a {
          padding: 6px 5px;
          border-right: 0; } }
      .primary-nav ul#main-nav > li > a:last-child {
        border-right: 0; }
      .primary-nav ul#main-nav > li > a .sub-arrow {
        display: none; }
        @media only screen and (max-width: 768px) {
          .primary-nav ul#main-nav > li > a .sub-arrow {
            display: inline-block;
            border-top: 4px solid;
            border-right: 4px dashed transparent;
            border-bottom: 4px dashed transparent;
            border-left: 4px dashed transparent;
            position: absolute;
            right: 10px;
            top: 50%; } }
      .primary-nav ul#main-nav > li > a i {
        color: #fff; }
      .primary-nav ul#main-nav > li > a:hover, .primary-nav ul#main-nav > li > a:active {
        background: none; }
    .primary-nav ul#main-nav > li > .dropdown-menu {
      width: 100% !important;
      max-width: 100% !important;
      overflow: hidden;
      margin-left: 0 !important;
      -webkit-box-shadow: 0 0;
      -moz-box-shadow: 0 0;
      box-shadow: 0 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: 0;
      background: #d1c8b6;
      padding: 0;
      padding-bottom: 40px; }
      .primary-nav ul#main-nav > li > .dropdown-menu > li {
        text-align: left;
        width: 33%;
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 2.2;
        color: #58595b; }
        @media only screen and (max-width: 768px) {
          .primary-nav ul#main-nav > li > .dropdown-menu > li {
            width: 100%; } }
        .primary-nav ul#main-nav > li > .dropdown-menu > li a {
          display: block;
          position: relative; }
          .primary-nav ul#main-nav > li > .dropdown-menu > li a:hover, .primary-nav ul#main-nav > li > .dropdown-menu > li a:focus {
            background: #efeadf;
            font-weight: bold;
            color: #333333; }
        .primary-nav ul#main-nav > li > .dropdown-menu > li.open {
          background: #efeadf; }
        .primary-nav ul#main-nav > li > .dropdown-menu > li > ul {
          top: 0 !important;
          left: 33% !important;
          margin: 0 !important;
          padding-top: 0;
          height: 100%;
          border: 0;
          width: 33% !important;
          max-width: 33% !important;
          background: #efeadf;
          -webkit-box-shadow: 0 0;
          -moz-box-shadow: 0 0;
          box-shadow: 0 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0; }
          @media only screen and (max-width: 768px) {
            .primary-nav ul#main-nav > li > .dropdown-menu > li > ul {
              width: 100% !important;
              max-width: 100% !important; } }
          .primary-nav ul#main-nav > li > .dropdown-menu > li > ul > li.open {
            background: #fff; }
          .primary-nav ul#main-nav > li > .dropdown-menu > li > ul > li a:hover {
            background: #fff;
            font-weight: bold;
            color: #333333; }

#main-navigation {
  margin-top: 50px; }

#inner-main-navigation .navbar-header {
  width: 6.6%; }
#inner-main-navigation #main-nav {
  width: 93.4%; }
#inner-main-navigation > nav {
  padding: 0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75); }

#main-nav-search-field {
  width: 33%;
  position: absolute;
  right: 1px;
  padding: 20px 40px 5px;
  background: #8fc7ea; }

#breadcrumbs {
  background: #8fc7ea;
  margin-top: 75px; }
  @media only screen and (max-width: 992px) {
    #breadcrumbs {
      margin-top: 50px; } }
  @media only screen and (max-width: 1200px) {
    #breadcrumbs {
      margin-top: 65px; } }
  #breadcrumbs ol {
    padding: 5px 10px;
    margin: 0; }
    #breadcrumbs ol li {
      text-transform: uppercase;
      color: #333333; }
      #breadcrumbs ol li a {
        color: #333333; }

.rotating-feature-block {
  background: #efeadf;
  position: relative;
  /* SLIDESHOW ISOTOPES */ }
  .rotating-feature-block .row {
    margin: 0; }
    .rotating-feature-block .row figure {
      padding: 0; }
    .rotating-feature-block .row h4 {
      text-transform: uppercase;
      margin-top: 30px; }
    .rotating-feature-block .row a {
      text-transform: uppercase; }
  .rotating-feature-block .slidesjs-pagination {
    position: absolute;
    bottom: 20px;
    left: 44%;
    z-index: 9999;
    padding-left: 5px; }
    .rotating-feature-block .slidesjs-pagination li {
      float: left;
      display: block;
      margin-right: 3px;
      background: #fff;
      text-indent: -9999px;
      width: 15px;
      height: 15px;
      border: 1px solid #999;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      overflow: hidden; }
      .rotating-feature-block .slidesjs-pagination li a {
        display: block;
        padding-bottom: 0; }
        .rotating-feature-block .slidesjs-pagination li a:hover, .rotating-feature-block .slidesjs-pagination li a.active {
          background: #eaeaea; }

.sidebar-accordion-nav {
  background: #d1c8b6;
  padding-left: 0; }
  .sidebar-accordion-nav > li {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    float: none;
    list-style: none; }
    .sidebar-accordion-nav > li a {
      color: #333333;
      padding: 5px 10px 5px 20px;
      display: block;
      white-space: normal; }
      .sidebar-accordion-nav > li a span {
        text-indent: -50000px;
        color: #d1c8b6;
        font-size: 1px;
        padding: 15px;
        position: absolute;
        left: 0;
        top: 0; }
      .sidebar-accordion-nav > li a.highlighted {
        background: #efeadf; }
        .sidebar-accordion-nav > li a.highlighted > span {
          background: url(../images/open-accordion-arrow.png) no-repeat 0 0; }
    .sidebar-accordion-nav > li ul {
      display: none;
      position: static !important;
      top: auto !important;
      left: auto !important;
      margin-left: 0 !important;
      margin-top: 0 !important;
      width: auto;
      min-width: 0;
      max-width: none;
      padding: 0; }
      .sidebar-accordion-nav > li ul li {
        list-style: none; }

.full-width-tabs-block .nav {
  margin: 0; }
  .full-width-tabs-block .nav li {
    opacity: .75;
    padding: 0;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .full-width-tabs-block .nav li {
        width: 100%; } }
    .full-width-tabs-block .nav li a {
      background: #d1c8b6;
      font-weight: bold;
      text-transform: uppercase;
      color: #333333;
      -webkit-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      border-radius: 10px 10px 0 0;
      padding: 0;
      min-height: 45px; }
      @media only screen and (max-width: 768px) {
        .full-width-tabs-block .nav li a {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          min-height: 0;
          padding: 10px;
          margin-right: 0; } }
    .full-width-tabs-block .nav li.active {
      opacity: 1; }
      .full-width-tabs-block .nav li.active a {
        background: #d1c8b6; }
    .full-width-tabs-block .nav li:last-child a {
      margin-right: 0; }
.full-width-tabs-block header {
  padding: 20px 13px; }
.full-width-tabs-block .tab-content {
  border: 1px solid #d1c8b6; }

.tabs-section {
  background: #fff; }

.tab-navigation {
  padding: 0; }
  .tab-navigation li {
    background: #d1c8b6;
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
    .tab-navigation li.active {
      background: #fff;
      font-weight: bold;
      -webkit-box-shadow: inset 0px -3px 1px -1px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px -3px 1px -1px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0px -3px 1px -1px rgba(0, 0, 0, 0.4);
      border-right: 0; }
    .tab-navigation li a {
      color: #333333;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      .tab-navigation li a:hover, .tab-navigation li a:focus {
        font-weight: bold;
        background: #fff; }

.tab-content {
  background: #fff;
  margin-bottom: 25px; }

.menuheader {
  border-top: 1px solid #d1c8b6;
  position: relative;
  padding: 10px 10px 10px 35px; }
  .menuheader a {
    color: #333333; }
  .menuheader.openheader {
    background: #e2eef5;
    font-weight: bold; }
  .menuheader span {
    font-size: 1.5em;
    position: absolute;
    top: 8px;
    left: 10px; }

.categoryitems {
  background: #e2eef5;
  padding: 0 10px 10px 35px; }

.bucket {
  margin: 0 0 20px 0; }
  .bucket article {
    overflow: hidden;
    background: #fff;
    padding: 5px;
    position: relative;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.75); }
    .bucket article hgroup {
      position: absolute;
      bottom: 10px;
      right: 45px; }
      @media only screen and (max-width: 992px) {
        .bucket article hgroup {
          bottom: 0; } }
      @media only screen and (max-width: 768px) {
        .bucket article hgroup {
          bottom: 10px;
          width: 73%; } }
      .bucket article hgroup h2 {
        font-size: 16px;
        font-size: 1rem; }
        @media only screen and (max-width: 992px) {
          .bucket article hgroup h2 {
            font-size: 12px;
            font-size: 0.75rem; } }
        @media only screen and (max-width: 768px) {
          .bucket article hgroup h2 {
            font-size: 18px;
            font-size: 1.125rem; } }
    .bucket article a {
      display: block; }
  .bucket .forward-arrow {
    position: absolute;
    padding: 5px;
    bottom: 10px;
    right: 10px; }

.content-well {
  background: #efeadf;
  margin: 0 0 20px; }
  .content-well figure {
    height: 250px;
    max-height: 250px;
    overflow: hidden;
    padding: 0; }
  .content-well article {
    padding: 35px 35px 0; }
    .content-well article h4 {
      text-transform: uppercase; }
    .content-well article a {
      display: block;
      text-transform: uppercase; }

.smaller-well {
  position: relative;
  padding: 0;
  margin-bottom: 0; }
  .smaller-well figure {
    height: 255px;
    max-height: 255px;
    overflow: hidden;
    padding: 0; }
  .smaller-well aside {
    position: absolute;
    bottom: 20px;
    right: 20px; }

.imageless-bucket {
  -webkit-box-shadow: inset 0 8px 6px -6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0 8px 6px -6px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0 8px 6px -6px rgba(50, 50, 50, 0.75);
  background: url(../images/gray-white-gradient.png) repeat-x 0 0;
  position: relative;
  padding: 25px 10px;
  max-height: 210px;
  height: 210px;
  margin-bottom: 30px; }
  .imageless-bucket article {
    border-right: 1px solid #777777;
    padding: 15px 15px 20px; }
  .imageless-bucket aside {
    position: absolute;
    bottom: 30px;
    right: 30px; }
  .imageless-bucket:last-child > article {
    border-right: 0; }

#footer {
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 10px solid #af3639;
  background: #ede9e0 url(../images/zebra-gradient.png) repeat-x 0 0; }
  #footer ul li {
    padding: 3px 0; }
    #footer ul li a {
      color: #333333; }
  #footer .social-links-block {
    background: #27328b;
    padding: 20px 25px;
    margin-top: -60px; }
    @media only screen and (max-width: 1200px) {
      #footer .social-links-block {
        padding-left: 15px;
        padding-right: 15px; } }
    @media only screen and (max-width: 992px) {
      #footer .social-links-block {
        padding-left: 8px;
        padding-right: 8px; } }
    #footer .social-links-block figure {
      margin: -5px; }
    #footer .social-links-block h5 {
      font-size: 17px;
      font-size: 1.0625rem;
      text-transform: uppercase;
      color: #fff; }
      @media only screen and (max-width: 1200px) {
        #footer .social-links-block h5 {
          font-size: 15px;
          font-size: 0.9375rem; } }
      @media only screen and (max-width: 992px) {
        #footer .social-links-block h5 {
          font-size: 12px;
          font-size: 0.75rem; } }

html {
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif; }

.page-content {
  padding: 50px 0; }

#home {
  background-image: url(../images/home-bg.jpg); }

#travel {
  background-image: url(../images/travel-bg.jpg); }

#shop {
  background-image: url(../images/shop-bg.jpg); }

.overview-page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 45px; }
  .overview-page .jumbotron {
    background: none; }
    .overview-page .jumbotron h1 {
      font-size: 38px;
      font-size: 2.375rem;
      text-transform: uppercase;
      font-weight: 500; }
      @media only screen and (max-height: 750px) {
        .overview-page .jumbotron h1 {
          font-size: 30px;
          font-size: 1.875rem; } }
    .overview-page .jumbotron p {
      line-height: 1.9;
      font-size: 16px;
      font-size: 1rem;
      margin: 0; }
      @media only screen and (max-height: 750px) {
        .overview-page .jumbotron p {
          font-size: 14px;
          font-size: 0.875rem; } }
    .overview-page .jumbotron .jump-link {
      text-transform: uppercase;
      font-size: 16px;
      font-size: 1rem;
      font-weight: bold;
      display: block; }
      @media only screen and (max-height: 750px) {
        .overview-page .jumbotron .jump-link {
          font-size: 14px;
          font-size: 0.875rem; } }

#main-column h1 {
  text-transform: uppercase; }
#main-column .sub-topic {
  margin-top: 30px; }
  #main-column .sub-topic h4 {
    text-transform: uppercase;
    background: #efeadf;
    padding: 5px 10px; }

.sidebar-bucket {
  margin-bottom: 40px; }
  .sidebar-bucket h4 {
    text-transform: uppercase; }
  .sidebar-bucket a {
    text-transform: uppercase;
    display: block; }

#sustainability {
  background: url(../images/sustainability-bg.jpg) no-repeat 50% 0; }

#telework {
  background: url(../images/telework-bg.jpg) no-repeat 50% 0; }

#transportation {
  background: url(../images/transportation-bg.jpg) no-repeat 50% 0; }

.landing-page-header {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 50px; }
  .landing-page-header h1 {
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase; }

#sub-section {
  margin: 0 0 45px; }
