@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-jyko5o");
  src: url("../fonts/icomoon.eot?#iefix-jyko5o") format("embedded-opentype"), url("../fonts/icomoon.woff?-jyko5o") format("woff"), url("../fonts/icomoon.ttf?-jyko5o") format("truetype"), url("../fonts/icomoon.svg?-jyko5o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 1px;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-left:before {
  content: "\e600"; }

.icon-arrow-down:before {
  content: "\e601"; }

.icon-arrow-up:before {
  content: "\e602"; }

.icon-arrow-right:before {
  content: "\e603"; }

.icon-twitter:before {
  content: "\e604"; }

.icon-facebook:before {
  content: "\e605"; }

.icon-googleplus:before {
  content: "\e606"; }

.icon-pinterest:before {
  content: "\e607"; }

.icon-linkedin:before {
  content: "\e608"; }

/***  Transitions  ***/
/***  Radius  ***/
/***  Box Border  ***/
/***  Cover BG  ***/
/***  Flexbox  ***/
.region-page-header hgroup h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.search-input {
  position: relative; }
  .search-input input {
    border-radius: 0; }
  .search-input button {
    position: absolute;
    right: 0;
    top: 1px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #27328b; }
    .search-input button span {
      color: #fff; }
    .search-input button:hover {
      background-color: #27328b; }

.social-links {
  /* padding: 10px 0 20px;
   background: $gsaBlue;
     @include tablets {
       padding: 5px;
       margin-bottom: 20px;
     }
   ul {
     width: 100%;
       @include tablets {
         text-align: center;
       }
       li {
         height: 20px;
         width: 20%;
         overflow: hidden;
           @include tablets {
             display: inline-block;
             width: 15%;
           }
         a {
           display: block;
           background: url(../images/social-media-sprite.png) no-repeat;
         }
       }
       .facebook-logo a {
         background-position: 50% 0;
       }
       .twitter-logo a {
         background-position: 50% -38px;
       }
       .yt-logo a {
         background-position: 50% -69px;
       }
       .rss-logo a {
         background-position: 50% -101px;
       }
       .blog-logo a {
         background-position: 50% -131px;
       }
   }*/ }
  .social-links ul {
    text-align: center; }
    .social-links ul li {
      display: inline-block;
      width: 35px;
      height: 28px;
      background: url(../images/social-media-sprite.png) no-repeat;
      padding: 0 !important;
      overflow: hidden; }
      .social-links ul li a {
        display: block;
        height: 28px; }
      .social-links ul li.facebook-icon {
        background-position: 0 0; }
      .social-links ul li.twitter-icon {
        background-position: 0 -28px; }
      .social-links ul li.youtube-icon {
        background-position: 0 -56px; }
      .social-links ul li.instagram-icon {
        background-position: 0 -84px; }
      .social-links ul li.pintrest-icon {
        background-position: 0 -112px; }
      .social-links ul li.email-icon {
        background-position: 0 -140px; }

.gsa-btn {
  background: #8fc7ea;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #27328b;
  text-transform: uppercase;
  font-weight: bold;
  white-space: normal; }

.sub-section .tab-content .form-group {
  position: relative;
  width: 100%; }
  .sub-section .tab-content .form-group input, .sub-section .tab-content .form-group select {
    border: 1px solid #c9c9c9;
    padding: 24px 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-right: 10%;
    font-size: 22px;
    font-size: 1.375rem; }
  .sub-section .tab-content .form-group button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 20px;
    width: 10%;
    font-size: 20px;
    font-size: 1.25rem; }
    .sub-section .tab-content .form-group button .glyphicon {
      left: 30%;
      top: 4px;
      color: #fff; }
  .sub-section .tab-content .form-group p {
    padding: 10px 5px 0; }
  .sub-section .tab-content .form-group ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c9c9c9; }
  .sub-section .tab-content .form-group :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c9c9c9;
    opacity: 1; }
  .sub-section .tab-content .form-group ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c9c9c9;
    opacity: 1; }
  .sub-section .tab-content .form-group :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #c9c9c9; }

html {
  font-size: 16px; }

body {
  font-family: arial, sans-serif; }
  body.overview-page-body {
    background: #ede9e0; }

.page-content {
  padding: 150px 15px; }
  @media only screen and (max-width: 768px) {
    .page-content {
      padding-top: 60px; } }

.left-align-image {
  margin-right: 10px; }

.black-underlay {
  background: rgba(0, 0, 0, 0.5); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

h1 {
  margin-top: 0; }

a {
  color: #27328b;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }
  a:hover {
    color: #27328b; }

address {
  margin-bottom: 10px; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none; }

.navbar {
  margin-bottom: 0; }

.breadcrumb {
  background: none; }

.breadcrumb > li + li:before {
  content: "\203A";
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem; }

@media only screen and (max-width: 992px) {
  .gsa-btn {
    font-size: 12px;
    font-size: 0.75rem; } }

*:active {
  outline: none;
  border: 0; }

@media only screen and (max-width: 768px) {
  .row {
    margin-left: 0;
    margin-right: 0; } }

.affix {
  position: fixed;
  top: 40px;
  bottom: auto; }

.affix-bottom {
  position: absolute;
  top: 40px;
  bottom: auto; }

#skip a {
  position: absolute;
  left: auto;
  top: -10000px;
  height: 1px;
  overflow: hidden; }
  #skip a:focus {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    background: #8fc7ea;
    text-align: center;
    z-index: 9999;
    color: #fff;
    padding: 20px; }

.navbar-brand {
  margin-left: 0 !important;
  float: none;
  display: block; }

.primary-nav {
  position: absolute;
  left: 15px;
  right: 0;
  top: 25px; }
  .primary-nav nav {
    background: none;
    -webkit-box-shadow: 0px 5px 7px -5px #333333;
    -moz-box-shadow: 0px 5px 7px -5px #333333;
    box-shadow: 0px 5px 7px -5px #333333;
    border: 0;
    width: 1140px;
    font-family: "Montserrat", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    @media only screen and (max-width: 1200px) {
      .primary-nav nav {
        width: 940px; } }
    @media only screen and (max-width: 992px) {
      .primary-nav nav {
        width: 720px; } }
    .primary-nav nav .navbar-header {
      width: 10%; }
      @media only screen and (max-width: 768px) {
        .primary-nav nav .navbar-header {
          width: 100%; }
          .primary-nav nav .navbar-header a {
            width: 10%; } }
      .primary-nav nav .navbar-header a {
        padding: 0; }
    .primary-nav nav .navbar-toggle {
      margin-top: 20px; }
    .primary-nav nav .navbar-collapse {
      padding: 0; }
    .primary-nav nav #navbar-collapse {
      padding: 0; }
    .primary-nav nav .navbar-nav {
      margin: 0; }
      @media only screen and (max-width: 768px) {
        .primary-nav nav .navbar-nav {
          margin: 0; } }
  .primary-nav ul#main-nav {
    width: 90%;
    background: none; }
    @media only screen and (max-width: 768px) {
      .primary-nav ul#main-nav {
        width: 100%; } }
    .primary-nav ul#main-nav > li {
      background: #fff;
      background: white;
      text-align: center;
      width: 15.5%;
      position: static; }
      .primary-nav ul#main-nav > li:last-child {
        width: 7%;
        background: #8fc7ea; }
        @media only screen and (max-width: 768px) {
          .primary-nav ul#main-nav > li:last-child {
            display: none; } }
      .primary-nav ul#main-nav > li:nth-child(6) span {
        border: 0; }
      .primary-nav ul#main-nav > li.open {
        background: #d1c8b6; }
      .primary-nav ul#main-nav > li > a {
        padding: 0;
        padding-top: 47px;
        padding-bottom: 47px;
        font-size: 16px;
        font-size: 1rem;
        text-transform: uppercase;
        color: #333333;
        border-right: 1px solid #c8c8c8; }
        @media only screen and (max-width: 1200px) {
          .primary-nav ul#main-nav > li > a {
            font-size: 13px;
            font-size: 0.8125rem;
            padding-top: 37px;
            padding-bottom: 37px; } }
        @media only screen and (max-width: 992px) {
          .primary-nav ul#main-nav > li > a {
            font-size: 13px;
            font-size: 0.8125rem;
            padding-top: 26px;
            padding-bottom: 26px; } }
        @media only screen and (max-width: 768px) {
          .primary-nav ul#main-nav > li > a {
            padding: 6px 5px;
            border-right: 0; } }
        .primary-nav ul#main-nav > li > a:last-child {
          border-right: 0;
          padding-top: 44.5px;
          padding-bottom: 44.5px; }
          @media only screen and (max-width: 1200px) {
            .primary-nav ul#main-nav > li > a:last-child {
              padding-top: 34.5px;
              padding-bottom: 34.5px; } }
          @media only screen and (max-width: 992px) {
            .primary-nav ul#main-nav > li > a:last-child {
              padding-top: 23.5px;
              padding-bottom: 23.5px; } }
        .primary-nav ul#main-nav > li > a .sub-arrow {
          display: none; }
        .primary-nav ul#main-nav > li > a.selected {
          background: #d1c8b6; }
        .primary-nav ul#main-nav > li > a i {
          color: #fff;
          font-size: 25px;
          font-size: 1.5625rem;
          margin-top: -5px; }
          @media only screen and (max-width: 992px) {
            .primary-nav ul#main-nav > li > a i {
              font-size: 20px;
              font-size: 1.25rem;
              margin-top: 0; } }
        .primary-nav ul#main-nav > li > a:hover, .primary-nav ul#main-nav > li > a:active {
          background: none; }
      .primary-nav ul#main-nav > li > .dropdown-menu {
        font-family: arial, sans-serif;
        width: 100% !important;
        max-width: 100% !important;
        overflow: hidden;
        background: #d1c8b6;
        padding: 15px 0 40px;
        margin-left: 0 !important;
        -webkit-box-shadow: 0 0;
        -moz-box-shadow: 0 0;
        box-shadow: 0 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        -webkit-background-clip: padding-box;
        /* for Safari */
        background-clip: padding-box;
        /* for IE9+, Firefox 4+, Opera, Chrome */
        min-height: 230px; }
        .primary-nav ul#main-nav > li > .dropdown-menu > li {
          text-align: left;
          width: 33.33%;
          font-size: 14px;
          font-size: 0.875rem;
          line-height: 2.2;
          color: #58595b; }
          @media only screen and (max-width: 768px) {
            .primary-nav ul#main-nav > li > .dropdown-menu > li {
              width: 100%; } }
          .primary-nav ul#main-nav > li > .dropdown-menu > li a {
            display: block;
            position: relative;
            white-space: normal; }
            .primary-nav ul#main-nav > li > .dropdown-menu > li a:hover, .primary-nav ul#main-nav > li > .dropdown-menu > li a:focus {
              background: #efeadf;
              color: #333333; }
          .primary-nav ul#main-nav > li > .dropdown-menu > li.open {
            background: #efeadf; }
          .primary-nav ul#main-nav > li > .dropdown-menu > li > ul {
            font-family: arial, sans-serif;
            top: 0 !important;
            left: 33.33% !important;
            margin: 0 !important;
            padding-top: 15px;
            height: 100%;
            border: 0;
            width: 33.33% !important;
            max-width: 33.33% !important;
            background: #efeadf;
            -webkit-box-shadow: 0 0;
            -moz-box-shadow: 0 0;
            box-shadow: 0 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0; }
            @media only screen and (max-width: 768px) {
              .primary-nav ul#main-nav > li > .dropdown-menu > li > ul {
                width: 100% !important;
                max-width: 100% !important; } }
            .primary-nav ul#main-nav > li > .dropdown-menu > li > ul > li.open {
              background: #fbf9f4; }
            .primary-nav ul#main-nav > li > .dropdown-menu > li > ul > li a:hover {
              background: #fbf9f4;
              color: #333333; }

.pull-quotes {
  width: 33.33%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 285px;
  /*img {
    max-width: 80%;
    max-height: 170px;
  }
  figcaption {
    font-family: $gsaBodyFont;
    text-align: left;
    padding-top: 10px;
  }*/ }
  .pull-quotes h3 {
    padding: 0 20px;
    font-size: 22px;
    font-size: 1.375rem;
    color: #efeadf;
    font-weight: normal;
    margin: 0; }

#inner-main-navigation {
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 75px;
  z-index: 99; }
  @media only screen and (max-width: 1200px) {
    #inner-main-navigation {
      height: 63px; } }
  @media only screen and (max-width: 992px) {
    #inner-main-navigation {
      height: 50px; } }
  #inner-main-navigation .navbar-header {
    width: 6.6%; }
  #inner-main-navigation #main-nav {
    width: 93.4%; }
    #inner-main-navigation #main-nav > li > a {
      padding-top: 27.5px;
      padding-bottom: 27.5px; }
      @media only screen and (max-width: 1200px) {
        #inner-main-navigation #main-nav > li > a {
          font-size: 13px;
          font-size: 0.8125rem;
          padding-top: 21px;
          padding-bottom: 21px; } }
      @media only screen and (max-width: 992px) {
        #inner-main-navigation #main-nav > li > a {
          font-size: 13px;
          font-size: 0.8125rem;
          padding-top: 14px;
          padding-bottom: 14px; } }
      @media only screen and (max-width: 768px) {
        #inner-main-navigation #main-nav > li > a {
          padding: 6px 5px;
          border-right: 0; } }
      #inner-main-navigation #main-nav > li > a:last-child {
        border-right: 0;
        padding-top: 24px;
        padding-bottom: 24px; }
        @media only screen and (max-width: 1200px) {
          #inner-main-navigation #main-nav > li > a:last-child {
            padding-top: 17.5px;
            padding-bottom: 17.5px; } }
        @media only screen and (max-width: 992px) {
          #inner-main-navigation #main-nav > li > a:last-child {
            padding-top: 12.5px;
            padding-bottom: 12.5px; } }
      #inner-main-navigation #main-nav > li > a i {
        color: #fff;
        font-size: 22px;
        font-size: 1.375rem;
        margin-top: 0; }
        @media only screen and (max-width: 992px) {
          #inner-main-navigation #main-nav > li > a i {
            font-size: 18px;
            font-size: 1.125rem;
            margin-top: 0; } }
  #inner-main-navigation > nav {
    padding: 0;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.75); }
    @media only screen and (max-width: 1200px) {
      #inner-main-navigation > nav {
        width: 970px; } }
    @media only screen and (max-width: 992px) {
      #inner-main-navigation > nav {
        width: 760px; } }
    @media only screen and (max-width: 768px) {
      #inner-main-navigation > nav {
        width: 1170px; } }

#main-nav-search-field {
  width: 33.33%;
  position: absolute;
  right: 1px;
  bottom: -80px;
  padding: 20px 40px 5px;
  font-family: arial, sans-serif;
  background: #8fc7ea; }
  @media only screen and (max-width: 992px) {
    #main-nav-search-field {
      padding: 20px 10px 5px; } }

#breadcrumbs {
  background: #8fc7ea;
  margin-top: 75px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 90; }
  @media only screen and (max-width: 1200px) {
    #breadcrumbs {
      margin-top: 63px; } }
  @media only screen and (max-width: 992px) {
    #breadcrumbs {
      margin-top: 50px; } }
  #breadcrumbs ol {
    padding: 0;
    margin: 0; }
    #breadcrumbs ol li {
      text-transform: capitalize;
      color: #333333; }
      #breadcrumbs ol li a {
        color: #333333; }

#mobile-menu {
  -webkit-box-shadow: 2px 5px 5px -5px #333333;
  -moz-box-shadow: 2px 5px 5px -5px #333333;
  box-shadow: 2px 5px 5px -5px #333333; }
  #mobile-menu .navbar-brand {
    padding: 0;
    width: 60px;
    height: 60px; }
  #mobile-menu .navbar-toggle {
    float: left;
    margin-left: 25px;
    border: 0;
    background: transparent; }
    #mobile-menu .navbar-toggle .icon-bar {
      background-color: #27328b;
      width: 40px;
      height: 5px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%; }

.mp-menu {
  position: absolute;
  /* we can't use fixed here :( */
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.mp-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d1c8b6;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }
  .mp-level #mobile-search {
    padding: 20px 20px 8px;
    background: #8fc7ea; }
  .mp-level > ul > li {
    text-transform: uppercase;
    font-size: 10px;
    font-size: 0.625rem; }
    .mp-level > ul > li a {
      color: #333333; }

#top-level > li > a > span, #second-level > li > a > span {
  z-index: -1;
  right: 15px; }

.third-level {
  background: white !important; }

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0; }

.mp-pusher::after,
.mp-level::after {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s; }

.mp-level::after {
  z-index: -1; }

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.mp-level.mp-level-overlay {
  cursor: pointer; }

.mp-level.mp-level-overlay.mp-level::before {
  width: 100%;
  height: 100%;
  background: #d1c8b6;
  opacity: 1; }

.mp-pusher,
.mp-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  background: #efeadf; }

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* cover */
.mp-cover .mp-level.mp-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

/* content style */
.mp-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.mp-menu h2 {
  margin: 0;
  padding: 1em;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase; }

.mp-menu.mp-overlap h2::before {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  font-size: 75%;
  line-height: 1.8;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
  transition: opacity 0.3s, transform 0.1s 0.3s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%); }

.mp-menu.mp-cover h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em; }

.mp-overlap .mp-level.mp-level-overlay > h2::before {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }

.mp-menu ul li > a {
  display: block;
  padding: 15px 10px 15px 25px;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  font-size: 1.4em;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s; }

.mp-menu ul li::before {
  position: absolute;
  left: 10px;
  z-index: -1;
  color: rgba(0, 0, 0, 0.2);
  line-height: 3.5; }

.mp-level > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2); }

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0); }

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0); }

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0); }

/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */
.mp-back {
  background: #d1c8b6;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 10px 20px;
  position: relative;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s; }
  .mp-back > span {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px; }

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent; }

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
  padding-left: 300px; }

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
  display: none; }

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
  display: block; }

.rotating-feature-block {
  background: #efeadf;
  position: relative;
  margin-bottom: 30px; }
  .rotating-feature-block .row {
    margin: 0;
    max-height: 300px; }
    .rotating-feature-block .row figure {
      padding: 0; }
      .rotating-feature-block .row figure img {
        min-height: 100%; }
    .rotating-feature-block .row h4 {
      margin-top: 15px; }

/* SLIDESHOW ISOTOPES */
.slidesjs-pagination {
  position: absolute;
  bottom: 10px;
  right: 33%;
  z-index: 99;
  padding-left: 5px; }
  .slidesjs-pagination li {
    float: left;
    display: block;
    margin-right: 3px;
    background: #fff;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden; }
    .slidesjs-pagination li a {
      display: block;
      padding-bottom: 0; }
      .slidesjs-pagination li a:hover, .slidesjs-pagination li a.active {
        background: #eaeaea; }

#sidebar-nav-wrapper {
  max-width: 300px;
  top: 150px;
  min-height: 30px; }
  @media only screen and (max-width: 1200px) {
    #sidebar-nav-wrapper {
      max-width: 250px; } }
  @media only screen and (max-width: 992px) {
    #sidebar-nav-wrapper {
      max-width: 195px; } }
  @media only screen and (max-width: 768px) {
    #sidebar-nav-wrapper {
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin: 0; } }

.sidebar-accordion-nav {
  background: #d1c8b6;
  padding-left: 0;
  margin-bottom: 0;
  position: relative; }
  .sidebar-accordion-nav > li {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    float: none;
    list-style: none; }
    @media only screen and (max-width: 768px) {
      .sidebar-accordion-nav > li {
        display: none; } }
    .sidebar-accordion-nav > li:first-child {
      background: #8fc7ea;
      display: block !important; }
      @media only screen and (max-width: 768px) {
        .sidebar-accordion-nav > li:first-child {
          border-bottom: 0; } }
    .sidebar-accordion-nav > li a {
      color: #333333;
      padding: 5px 10px 5px 20px;
      display: block;
      white-space: normal; }
      @media only screen and (max-width: 768px) {
        .sidebar-accordion-nav > li a {
          padding: 10px 10px 10px 20px; } }
      .sidebar-accordion-nav > li a span {
        text-indent: -50000px;
        color: #d1c8b6;
        font-size: 1px;
        padding: 15px;
        position: absolute;
        left: 0;
        top: 0; }
      .sidebar-accordion-nav > li a.highlighted > span {
        background: url(../images/open-accordion-arrow.png) no-repeat 0 0; }
    .sidebar-accordion-nav > li #sidebar-pulldown {
      position: absolute;
      right: 0;
      top: 8px;
      background: none;
      outline: 0;
      border: 0;
      border-left: 1px solid #333;
      font-size: 20px;
      padding: 0 20px;
      color: #333; }
    .sidebar-accordion-nav > li ul {
      display: none;
      position: static !important;
      top: auto !important;
      left: auto !important;
      margin-left: 0 !important;
      margin-top: 0 !important;
      width: auto;
      min-width: 0;
      max-width: none;
      padding: 0;
      background: #efeadf; }
      @media only screen and (max-width: 768px) {
        .sidebar-accordion-nav > li ul {
          width: 100% !important;
          max-width: 100% !important; } }
      .sidebar-accordion-nav > li ul li {
        list-style: none; }
        .sidebar-accordion-nav > li ul li ul {
          background: #fff; }
  .sidebar-accordion-nav a:hover {
    text-decoration: none; }

.full-width-tabs-block .contextual-tabs {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .full-width-tabs-block .contextual-tabs li {
    opacity: .55;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-size: 1.125rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    @media only screen and (max-width: 768px) {
      .full-width-tabs-block .contextual-tabs li {
        width: 100%; } }
    .full-width-tabs-block .contextual-tabs li a {
      background: #d1c8b6;
      font-weight: bold;
      color: #333333;
      -webkit-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      border-radius: 10px 10px 0 0; }
      @media only screen and (max-width: 768px) {
        .full-width-tabs-block .contextual-tabs li a {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          min-height: 0;
          padding: 10px;
          margin-right: 0; } }
    .full-width-tabs-block .contextual-tabs li.active, .full-width-tabs-block .contextual-tabs li:hover {
      opacity: 1; }
      .full-width-tabs-block .contextual-tabs li.active a, .full-width-tabs-block .contextual-tabs li:hover a {
        background: #d1c8b6;
        color: #333; }
    .full-width-tabs-block .contextual-tabs li:last-child a {
      margin-right: 0; }
.full-width-tabs-block header {
  padding: 20px 13px; }
.full-width-tabs-block .tab-content {
  border: 1px solid #d1c8b6; }
  .full-width-tabs-block .tab-content .toggle-switch {
    cursor: pointer; }

.menuheader {
  border-top: 1px solid #d1c8b6;
  position: relative;
  padding: 10px 10px 10px 35px; }
  .menuheader a {
    color: #333333; }
  .menuheader.openheader {
    background: #e2eef5;
    font-weight: bold; }
  .menuheader span {
    font-size: 1.5em;
    position: absolute;
    top: 8px;
    left: 10px; }

.categoryitems {
  background: #e2eef5;
  padding: 0 10px 10px 35px; }

.region-page-header {
  color: #fff; }
  .region-page-header hgroup {
    height: 150px; }
    .region-page-header hgroup h1 {
      text-shadow: 1px 1px 1px #000;
      text-transform: uppercase; }

#region-9 {
  background: url(../images/region-9.jpg) no-repeat 50% 0; }

.standard-content-block hgroup {
  margin-bottom: 30px; }
  .standard-content-block hgroup h2 {
    margin-bottom: 0; }
  .standard-content-block hgroup h3 {
    margin-top: 0; }

#home {
  background-image: url(../images/home-bg.jpg); }

#travel {
  background-image: url(../images/travel-bg.jpg); }

#real-estate {
  background-image: url(../images/real-estate.jpg); }

#shopper {
  background-image: url(../images/shop-bg.jpg); }

#supplier {
  background-image: url(../images/suppliers.jpg); }

#technology {
  background-image: url(../images/technology.jpg); }

#about-us {
  background-image: url(../images/about-us.jpg); }

.overview-page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 45px;
  padding-top: 150px;
  height: 840px;
  overflow: hidden; }
  @media only screen and (max-width: 1200px) {
    .overview-page {
      height: 720px;
      padding-top: 130px; } }
  @media only screen and (max-width: 992px) {
    .overview-page {
      height: 560px;
      padding-top: 100px; } }
  @media only screen and (max-width: 768px) {
    .overview-page {
      height: inherit; } }
  .overview-page .jumbotron {
    background: none;
    height: 350px;
    overflow: hidden;
    font-size: 16px;
    font-size: 1rem; }
    @media only screen and (max-width: 1200px) {
      .overview-page .jumbotron {
        font-size: 16px;
        font-size: 1rem;
        height: 310px; } }
    @media only screen and (max-width: 992px) {
      .overview-page .jumbotron {
        height: 230px;
        font-size: 13px;
        font-size: 0.8125rem; } }
    .overview-page .jumbotron h1 {
      font-size: 30px;
      font-size: 1.875rem;
      text-transform: uppercase;
      font-weight: 500; }
      @media only screen and (max-width: 992px) {
        .overview-page .jumbotron h1 {
          font-size: 23px;
          font-size: 1.4375rem; } }
    .overview-page .jumbotron p {
      line-height: 1.5; }
    .overview-page .jumbotron li {
      line-height: 1.5; }
      .overview-page .jumbotron li .jump-link {
        font-weight: bold; }

.sub-section {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
  min-height: 150px; }
  .sub-section.bucket-styles {
    -webkit-box-shadow: 0 0;
    -moz-box-shadow: 0 0;
    box-shadow: 0 0; }
    @media only screen and (max-width: 768px) {
      .sub-section.bucket-styles {
        display: block; } }
  .sub-section.tabs-section {
    background: #fff; }
  .sub-section .tab-navigation {
    padding: 0;
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background: #d1c8b6;
    font-family: "Montserrat", sans-serif;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.55);
    z-index: 3; }
    @media only screen and (max-width: 992px) {
      .sub-section .tab-navigation {
        font-size: 10px;
        font-size: 0.625rem; } }
    .sub-section .tab-navigation ul {
      margin-left: -1px; }
      .sub-section .tab-navigation ul li {
        background: #d1c8b6;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid grey; }
        .sub-section .tab-navigation ul li.active {
          background: #fff;
          border-right: 0; }
          .sub-section .tab-navigation ul li.active a {
            margin-right: -4px;
            background: #fff; }
        .sub-section .tab-navigation ul li:last-child {
          border-bottom: 0; }
        .sub-section .tab-navigation ul li a {
          color: #333333; }
          .sub-section .tab-navigation ul li a:hover, .sub-section .tab-navigation ul li a:focus {
            background: #fff;
            margin-right: -4px;
            border-right: 0; }
  .sub-section .tab-content {
    background: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden; }
    .sub-section .tab-content #perDiemCalculator .form-horizontal .form-group {
      margin: 5px 0; }
    .sub-section .tab-content #perDiemCalculator .form-horizontal input, .sub-section .tab-content #perDiemCalculator .form-horizontal select {
      padding: 0 10px;
      font-size: 16px;
      font-size: 1rem; }
      @media only screen and (max-width: 992px) {
        .sub-section .tab-content #perDiemCalculator .form-horizontal input, .sub-section .tab-content #perDiemCalculator .form-horizontal select {
          font-size: 12px;
          font-size: 0.75rem; } }
    .sub-section .tab-content #perDiemCalculator .form-horizontal select {
      padding: 0 5px; }
    .sub-section .tab-content #perDiemCalculator .content-column {
      padding: 0 0 0 10px;
      margin: 0; }
      @media only screen and (max-width: 992px) {
        .sub-section .tab-content #perDiemCalculator .content-column h4 {
          font-size: 12px;
          font-size: 0.75rem; } }
      .sub-section .tab-content #perDiemCalculator .content-column:last-child {
        position: absolute;
        bottom: 20px;
        right: 0;
        padding-right: 10px; }
        @media only screen and (max-width: 768px) {
          .sub-section .tab-content #perDiemCalculator .content-column:last-child {
            position: relative;
            bottom: auto;
            right: auto;
            padding-right: 0;
            margin-top: 5px; } }

#home-pagination {
  text-align: center; }
  #home-pagination li {
    width: 15px;
    height: 15px;
    float: left;
    display: block;
    background-color: #ffffff;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    border-radius: 7.5px;
    margin: 0 3px;
    cursor: pointer;
    border: 1px solid #c9c9c9;
    -webkit-box-shadow: 1px 2px 1px -2px #333333;
    -moz-box-shadow: 1px 2px 1px -2px #333333;
    box-shadow: 1px 2px 1px -2px #333333; }
    #home-pagination li.active {
      background-color: #8fc7ea; }
    #home-pagination li > * {
      display: none !important; }

.overview-page-control {
  display: block;
  position: absolute;
  font-size: 16px;
  font-size: 1rem;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  background: #27328b;
  color: #fff;
  z-index: 99;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3); }
  .overview-page-control span {
    padding-left: 10px;
    padding-right: 10px; }
  .overview-page-control#left-arrow {
    left: 0; }
    .overview-page-control#left-arrow span {
      float: left; }
    .overview-page-control#left-arrow strong {
      float: left;
      padding-left: 0;
      padding-right: 10px; }
  .overview-page-control#right-arrow {
    right: 0; }
    .overview-page-control#right-arrow span {
      float: right; }
    .overview-page-control#right-arrow strong {
      float: right;
      padding-left: 10px;
      padding-right: 0; }
  .overview-page-control strong {
    display: none;
    font-size: 16px;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: normal; }
  .overview-page-control:hover {
    color: #fff; }

#landing-page {
  margin-top: 103px;
  margin-bottom: 91px; }
  @media only screen and (max-width: 1200px) {
    #landing-page {
      margin-top: 100px; } }
  @media only screen and (max-width: 992px) {
    #landing-page {
      margin-top: 78px; } }
  @media only screen and (max-width: 768px) {
    #landing-page {
      margin-top: 0; } }
  #landing-page .landing-page-header {
    color: #fff;
    height: 215px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    #landing-page .landing-page-header .container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      min-height: 215px; }
      #landing-page .landing-page-header .container hgroup {
        padding: 20px 0; }
        #landing-page .landing-page-header .container hgroup h1 {
          text-shadow: 1px 1px 1px #000;
          text-transform: uppercase; }
        #landing-page .landing-page-header .container hgroup p {
          padding-left: 0; }
  #landing-page .page-content {
    padding-top: 30px; }
  #landing-page #sustainability {
    background-image: url(../images/sustainability-bg.jpg); }
  #landing-page #telework {
    background-image: url(../images/telework-bg.jpg); }
  #landing-page #transportation {
    background-image: url(../images/transportation-bg.jpg); }
  #landing-page #social-media-center {
    background-image: url(../images/smc.jpg); }

/*
 * Table
 */
table.cleanTable {
  width: 100%; }

table.dataTable {
  clear: both;
  width: 100%;
  text-align: center; }

table.dataTable thead th {
  padding: 3px 18px 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  *cursor: hand;
  text-align: center; }

table.dataTable tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold; }

table.dataTable td {
  padding: 3px 10px; }

table.dataTable td.center,
table.dataTable td.dataTables_empty {
  text-align: center; }

table.dataTable tr.odd {
  background-color: #efeadf; }

table.dataTable tr.even {
  background-color: white; }

table.dataTable tr.odd td.sorting_1 {
  background-color: #d1c8b6; }

table.dataTable tr.odd td.sorting_2 {
  background-color: #d1c8b6; }

table.dataTable tr.odd td.sorting_3 {
  background-color: #d1c8b6; }

table.dataTable tr.even td.sorting_1 {
  background-color: #efeadf; }

table.dataTable tr.even td.sorting_2 {
  background-color: #efeadf; }

table.dataTable tr.even td.sorting_3 {
  background-color: #efeadf; }

/*
 * Table wrapper
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1; }

/*
 * Page length menu
 */
.dataTables_length {
  float: left; }

/*
 * Filter
 */
.dataTables_filter {
  float: right;
  text-align: right; }

/*
 * Table information
 */
.dataTables_info {
  clear: both;
  float: none;
  /*left*/ }

/*
 * Pagination
 */
.dataTables_paginate {
  float: right;
  text-align: right; }

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #111 !important; }

.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
  text-decoration: none !important; }

.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
  outline: none; }

.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666 !important; }

.paginate_disabled_previous,
.paginate_enabled_previous {
  padding-left: 23px; }

.paginate_disabled_next,
.paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px; }

.paginate_enabled_previous {
  background: url("../images/datatables/back_enabled.png") no-repeat top left; }

.paginate_enabled_previous:hover {
  background: url("../images/datatables/back_enabled_hover.png") no-repeat top left; }

.paginate_disabled_previous {
  background: url("../images/datatables/back_disabled.png") no-repeat top left; }

.paginate_enabled_next {
  background: url("../images/datatables/forward_enabled.png") no-repeat top right; }

.paginate_enabled_next:hover {
  background: url("../images/datatables/forward_enabled_hover.png") no-repeat top right; }

.paginate_disabled_next {
  background: url("../images/datatables/forward_disabled.png") no-repeat top right; }

/* Full number pagination */
.paging_full_numbers {
  height: 22px;
  line-height: 22px; }

.paging_full_numbers a:active {
  outline: none; }

.paging_full_numbers a:hover {
  text-decoration: none; }

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important; }

.paging_full_numbers a.paginate_button {
  background-color: #ddd; }

.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important; }

.paging_full_numbers a.paginate_active {
  background-color: #99B3FF; }

/*
 * Processing indicator
 */
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white; }

/*
 * Sorting
 */
.sorting {
  background: url("../images/datatables/sort_both.png") no-repeat center right; }

.sorting_asc {
  background: url("../images/datatables/sort_asc.png") no-repeat center right; }

.sorting_desc {
  background: url("../images/datatables/sort_desc.png") no-repeat center right; }

.sorting_asc_disabled {
  background: url("../images/datatables/sort_asc_disabled.png") no-repeat center right; }

.sorting_desc_disabled {
  background: url("../images/datatables/sort_desc_disabled.png") no-repeat center right; }

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none; }

.sorting_disabled {
  cursor: inherit !important; }

/*
 * Scrolling
 */
.dataTables_scroll {
  clear: both; }

.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch; }

.bucket {
  margin: 0 0 20px 0;
  padding: 0 7.5px; }
  .bucket:first-child {
    padding: 0 15px 0 0; }
  .bucket:last-child {
    padding: 0 0 0 15px; }
  .bucket article {
    overflow: hidden;
    background: #fff;
    padding: 5px;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.25); }
    .bucket article hgroup {
      position: absolute;
      bottom: 10px;
      right: 45px; }
      @media only screen and (max-width: 992px) {
        .bucket article hgroup {
          bottom: 0; } }
      @media only screen and (max-width: 768px) {
        .bucket article hgroup {
          right: 20px; } }
      .bucket article hgroup h2 {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: normal; }
        @media only screen and (max-width: 992px) {
          .bucket article hgroup h2 {
            font-size: 12px;
            font-size: 0.75rem; } }
        @media only screen and (max-width: 768px) {
          .bucket article hgroup h2 {
            font-size: 18px;
            font-size: 1.125rem; } }
    .bucket article a {
      display: block; }
  .bucket .forward-arrow {
    position: absolute;
    padding: 5px;
    bottom: 10px;
    right: 10px; }

.content-well {
  margin: 20px 0 20px;
  background: #efeadf;
  border: 1px solid #d1c8b6; }
  .content-well figure {
    height: 250px;
    max-height: 250px;
    overflow: hidden;
    padding: 0; }
  .content-well article {
    padding: 35px 35px 0; }
    @media only screen and (max-width: 1200px) {
      .content-well article {
        padding-top: 0; } }
    .content-well article h4 {
      font-weight: normal; }
      @media only screen and (max-width: 1200px) {
        .content-well article h4 {
          font-size: 16px;
          font-size: 1rem; } }
    .content-well article a {
      display: block; }

.smaller-well {
  position: relative;
  margin-bottom: 0;
  margin-top: 50px;
  background: none;
  border: none; }
  .smaller-well figure {
    height: 255px;
    max-height: 255px;
    overflow: hidden;
    padding: 0; }
  .smaller-well aside {
    position: absolute;
    bottom: 20px;
    right: 20px; }

.vertical-bucket {
  margin: 45px 0;
  position: relative;
  padding: 0 15px; }
  .vertical-bucket figure {
    margin-bottom: 30px; }
  .vertical-bucket:nth-child(2) {
    border-left: 1px solid #efeadf;
    border-right: 1px solid #efeadf; }
  .vertical-bucket article {
    padding: 0 15px 20px; }
  .vertical-bucket aside {
    position: absolute;
    bottom: 30px;
    right: 30px; }

/*
 You probably do not need to edit this at all.

 Add some SmartMenus required styles not covered in Bootstrap 3's default CSS.
 These are theme independent and should work with any Bootstrap 3 theme mod.
*/
/* sub menus arrows */
.sub-arrow {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 6px;
  display: inline-block; }
  .sub-arrow:before {
    content: "\e603"; }

.navbar-nav ul a.has-submenu {
  padding-right: 30px; }

/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  height: 20px;
  overflow: hidden;
  text-align: center; }

.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 7px dashed transparent;
  border-right: 7px dashed transparent;
  border-bottom: 7px solid;
  border-left: 7px dashed transparent; }

.navbar-nav span.scroll-down-arrow {
  top: 6px;
  border-top: 7px solid;
  border-right: 7px dashed transparent;
  border-bottom: 7px dashed transparent;
  border-left: 7px dashed transparent; }

/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
.navbar-nav .collapsible ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul .dropdown-menu .dropdown-header {
  padding-left: 35px; }

.navbar-nav .collapsible ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul .dropdown-menu .dropdown-header {
  padding-left: 45px; }

.navbar-nav .collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul ul .dropdown-menu .dropdown-header {
  padding-left: 55px; }

.navbar-nav .collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul ul ul .dropdown-menu .dropdown-header {
  padding-left: 65px; }

/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
.navbar-nav .dropdown-menu > li > a {
  white-space: normal; }

.navbar-nav ul.sm-nowrap > li > a {
  white-space: nowrap; }

/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
  left: 0;
  right: auto; }

/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
.navbar-nav .collapsible ul {
  display: none;
  position: static !important;
  top: auto !important;
  left: auto !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: auto !important;
  min-width: 0 !important;
  max-width: none !important; }

.navbar-nav .collapsible ul.sm-nowrap > li > a {
  white-space: normal; }

.navbar-nav .collapsible iframe {
  display: none; }

/* disable Bootstrap 3's global box-sizing:border-box; for the menus as it doesn't play nice with SmartMenus */
ul.sm li *, ul.sm li *:before, ul.sm li *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

#slider-thumbs li a {
  display: block;
  cursor: pointer;
  opacity: 0.5; }
  #slider-thumbs li a.selected, #slider-thumbs li a:hover {
    opacity: 1; }

#photo-gallery {
  border: 1px solid #eaeaea; }
  #photo-gallery .item {
    /*.carousel-caption {
      bottom: 0;
      padding: 0 10px;
      background: rgba(0,0,0,0.5);
      left: 0;
      right: 0;
      text-align: left;
        p {
          margin-top: 10px;
            a {
              color: #fff;
              text-align: right;
            }
        }
    }*/ }
    #photo-gallery .item img {
      margin: 0 auto; }
  #photo-gallery .carousel-control {
    background: none; }
    #photo-gallery .carousel-control span {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -25px;
      margin-top: -25px;
      font-size: 50px;
      color: blue; }

#gallery-index .row {
  margin: 0; }
#gallery-index li {
  border-bottom: 1px solid #eaeaea;
  padding: 6px 0; }
  #gallery-index li h2 {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: arial, sans-serif; }
  #gallery-index li figure img {
    margin: 0 auto; }
#gallery-index .gallery-display-wrapper {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px; }

#footer {
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 10px solid #af3639;
  background: #ede9e0 url(../images/zebra-gradient.png) repeat-x 0 0; }
  #footer ul li {
    padding: 3px 0; }
    #footer ul li a {
      color: #333333; }
  #footer .social-links-block {
    background: #27328b;
    padding: 20px 25px;
    margin-top: -60px;
    z-index: 99; }
    @media only screen and (max-width: 1200px) {
      #footer .social-links-block {
        padding-left: 15px;
        padding-right: 15px; } }
    @media only screen and (max-width: 992px) {
      #footer .social-links-block {
        padding-left: 8px;
        padding-right: 8px; } }
    #footer .social-links-block figure {
      margin: -5px -5px 10px -5px; }
    #footer .social-links-block h5 {
      font-size: 17px;
      font-size: 1.0625rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: normal;
      color: #fff;
      padding-bottom: 10px; }
      @media only screen and (max-width: 1200px) {
        #footer .social-links-block h5 {
          font-size: 15px;
          font-size: 0.9375rem; } }
      @media only screen and (max-width: 992px) {
        #footer .social-links-block h5 {
          font-size: 12px;
          font-size: 0.75rem; } }
      #footer .social-links-block h5 a {
        color: #fff; }

.social-links h5 {
  font-size: 17px;
  font-size: 1.0625rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  color: #fff;
  padding-bottom: 10px; }
  @media only screen and (max-width: 1200px) {
    .social-links h5 {
      font-size: 15px;
      font-size: 0.9375rem; } }
  @media only screen and (max-width: 992px) {
    .social-links h5 {
      font-size: 12px;
      font-size: 0.75rem; } }

#main-column {
  padding-left: 22px; }
  #main-column .sub-topic {
    margin-top: 0; }
    #main-column .sub-topic header {
      text-transform: uppercase;
      background: #efeadf;
      padding: 2px 10px; }
    #main-column .sub-topic article {
      padding: 15px 10px 15px 10px; }

.sidebar-bucket {
  margin-bottom: 40px;
  font-family: arial, sans-serif; }
  .sidebar-bucket h4 {
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: normal; }
  .sidebar-bucket a {
    text-transform: capitalize;
    display: block; }
