@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'custom_glyphs';
@import 'global-variables';
@import 'mixins';
@import 'selectors';
@import 'GSA-bootstrap';
@import 'primary-navigation';
@import 'mobile-primary-navigation';
@import 'rfb';
@import 'sidebar-accordion-nav';
@import 'tabs';
@import 'open-close-items';
@import 'regions';
@import 'overview-pages';
@import 'landing-pages';
@import 'tables';
@import 'buckets-and-wells';
@import 'jquery.smartmenus.bootstrap';
@import 'photo-gallery';
@import 'footer';



// THREE COLUMNS W/NAV
#main-column {
    h1 {
      text-transform: uppercase;
    }
    .sub-topic {
      margin-top: 30px;
        header {
          text-transform: uppercase;
          background: $offWhite;
          padding: 2px 10px;
        }
        article {
          padding: 15px 25px;
        }
    }
}

// Right Sidebar
.sidebar-bucket {
  margin-bottom: 40px;
  font-family: arial, sans-serif;
    h4 {
      text-transform: capitalize;
      font-family: $gsaFontFamily;
    }
    a {
      text-transform: capitalize;
      display: block;
    }
}


