#landing-page {
  margin-top: 103px;
  margin-bottom: 91px;
    @include large-desktops {
      margin-top: 100px;
    }
    @include desktops {
      margin-top: 78px;
    }
    @include tablets {
      margin-top: 0;

    }
    .landing-page-header {
      color: #fff;
      height: 215px;
      @include coverBG();
      .container {
        @include flexbox;
        @include flexAlignItems(center);
        min-height: 215px;
          hgroup {
            padding: 20px 0;
            h1 {
              text-shadow: 1px 1px 1px #000;
              text-transform: uppercase;
            }
            p {
              padding-left: 0;
            }
          }
      }
    }
    .page-content {
      padding-top: 30px;
    }
    #sustainability {
      background-image: url(../images/sustainability-bg.jpg);
    }
    #telework {
      background-image: url(../images/telework-bg.jpg);
    }
    #transportation {
      background-image: url(../images/transportation-bg.jpg);
    }
    #social-media-center {
      background-image: url(../images/smc.jpg);
    }
}
