//OVERVIEW PAGE STUFF
#home {  background-image: url(../images/home-bg.jpg); }
#travel { background-image: url(../images/travel-bg.jpg);}
#real-estate { background-image: url(../images/real-estate.jpg);}
#shopper { background-image: url(../images/shop-bg.jpg);}
#supplier { background-image: url(../images/suppliers.jpg);}
#technology { background-image: url(../images/technology.jpg);}
#about-us { background-image: url(../images/about-us.jpg);}

.overview-page {
  @include coverBG();
  @include flexbox;
  @include flexAlignItems(center);
  padding-bottom: 45px;
  padding-top: 150px;
  min-height: 768px;
  height: inherit;
  max-height: 1024px;
    @include desktops {
      padding-top: 100px;
    }
  .jumbotron {
    background: none;
    align-self: flex-start;
      h1 {
        @include font-size(38px);
        text-transform: uppercase;
        font-weight: 500;
          @include short-height {
            @include font-size(30px);
          }
          @include large-desktops {
            @include font-size(25px);
          }
      }
      p {
        line-height:1.5;
        @include font-size(16px);
        @include short-height {
          @include font-size(14px);
        }
      }
      li {
        line-height: 1.5;
        .jump-link {
          text-transform: uppercase;
          @include font-size(16px);
          font-weight: bold;
          @include short-height {
            @include font-size(14px);
          }
        }
      }
  }
}

// Sub Sections
#sub-section {
  margin: 0;
  @include flexbox;
  @include flexAlignItems(center);
  @include flexwrap(no-wrap);
  @include justifyContent(center);
  @include box-shadow(0px 1px 8px 0px, rgba(50, 50, 50, 0.75));
  min-height: 150px;
  overflow: hidden;

  // BUCKETS
  &.bucket-styles {
    @include box-shadow(0,0);
      @include tablets {
        display: block;
      }
  }

  // TABS
  &.tabs-section {
    background: #fff;
  }
  .tab-navigation {
    padding: 0;
    @include alignSelf(flex-start);
    background: $gsaBeige;
    font-family: $gsaFontFamily;
    li {
      background: $gsaBeige;
      border-right: 1px solid rgba(0,0,0,0.2);
      &.active {
        background: #fff;
        border-right: 0;
      }
      a {
        color: $navItemColor;
        &:hover,&:focus {
          background: #fff;
        }
      }
    }
  }
  .tab-content {
    background: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    @extend %searchForm;
    #perDiemCalculator {
      .form-horizontal {
        .form-group {
          margin: 5px 0;
        }
        input, select {
          padding: 10px;
          @include font-size(16px);
        }
      }
      .content-column {
        padding: 0 0 0 10px;
        margin: 0;
        &:last-child {
          position: absolute;
          bottom: 20px;
          right: 0;
          padding-right: 10px;
          @include tablets {
            position: relative;
            bottom: auto;
            right: auto;
            padding-right: 0;
            margin-top: 5px;
          }
        }
      }
    }

  }
}


#home-pagination {
  text-align: center;
    li {
      width: 15px;
      height: 15px;
      float: left;
      display: block;
      background-color: #ffffff;
      @include border-radius(7.5px);
      margin: 0 3px;
      cursor: pointer;
      border: 1px solid $lightGray;
      @include box-shadow(1px 2px 1px -2px , #333);
        &.active {background-color: $gsaLightBlue;}
        > * {
          display: none!important;
        }
    }
}

.overview-page-control {
  display: block;
  position: absolute;
  @include font-size(50px);
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  z-index: 99;
    &#left-arrow {
      left: 50px;
        strong {
          left: 100%;
        }
    }
    &#right-arrow {
      right: 50px;
        strong {
          right: 100%;
        }
    }
    strong {
      display: none;
      position: absolute;
      top: 50%;
      margin-top: -16px;
      @include font-size(16px);
      white-space: nowrap;
    }
}
