#skip {
  a {
    position:absolute;
    left:auto;
    top:-10000px;
    height:1px;
    overflow:hidden;
    &:focus {
      position:absolute;
      height:auto;
      top: 0;
      left: 0;
      background: $gsaLightBlue;
      text-align: center;
      z-index:9999;
      color: #fff;
      padding: 20px;
    }
  }
}
.navbar-brand {
  margin-left: 0!important;
}
.primary-nav {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 25px;
    nav {
      background: rgba(255,255,255,0.9);
      border: 0;
        .navbar-header {
          width: 10%;
          @include tablets {
            width: 100%;
            a {
              width: 10%;
            }
          }
          a {
            padding: 0;
          }
        }
        .navbar-toggle {
          margin-top: 20px;
        }
        .navbar-collapse {
          padding: 0;
        }
        #navbar-collapse{
          padding: 0;
        }
        .navbar-nav {
          border-right: 1px solid $gsaLightBlue;
            @include tablets {
              margin: 0;
            }
        }
    }
    ul#main-nav {
      width: 90%;
      @include tablets {
        width: 100%;
      }
      > li {
        text-align:center;
        width: 15.5%;
        position: static;
        @include tablets {
          width: 100%;
          text-align: left;
          position: relative;
        }
        &:last-child {
          width: 7%;
          background: $gsaLightBlue;
          @include tablets {
            display: none;
          }
        }
        &:nth-child(6){
          span {
            border: 0;
          }
        }
        &.open {
          background: $gsaBeige;
        }
        > a {
          padding: 0;
          @include font-size(16px);
          text-transform: uppercase;
          color: $navItemColor;
          border-right: 1px solid #c8c8c8;
            @include desktops {
              @include font-size(13px);
            }
            @include tablets {
              padding: 6px 5px;
              border-right: 0;
            }
            &:last-child {
              border-right: 0;
            }
            .sub-arrow {
              display: none;
              @include tablets {
                display: inline-block;
                border-top: 4px solid;
                border-right: 4px dashed transparent;
                border-bottom: 4px dashed transparent;
                border-left: 4px dashed transparent;
                position: absolute;
                right: 10px;
                top: 50%;
              }
            }
            i {
              color: #fff;
              @include font-size(25px);
              margin-top: -5px;
            }
          &:hover, &:active {
            background: none;
          }
        }
        > .dropdown-menu {
          width: 100%!important;
          max-width: 100%!important;
          overflow: hidden;
          background: $gsaBeige;
          padding: 10px 0 40px;
          margin-left: 0!important;
          @include box-shadow(0,0);
          @include border-radius(0);
          border: 0;
          border-top: 5px solid rgba(0,0,0,0);
          -webkit-background-clip: padding-box; /* for Safari */
          background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
          min-height: 200px;
          > li {
            text-align: left;
            width: 33%;
            @include font-size(14px);
            line-height: 2.2;
            color: $darkGray;
              @include tablets {
                width: 100%;
              }
            a {
              display: block;
              position: relative;
                &:hover, &:focus {
                  background: $offWhite;
                  color: $navItemColor;
                }
            }
            &.open {
              background: $offWhite;
            }
            > ul {
              top: 0!important;
              left: 33%!important;
              margin: 0!important;
              padding-top: 10px;
              height: 100%;
              border: 0;
              width: 33%!important;
              max-width: 33%!important;
              background: $offWhite;
              @include box-shadow(0,0);
              @include border-radius(0);
                @include tablets {
                  width: 100%!important;
                  max-width: 100%!important;
                }
                > li {
                  &.open {
                    background: #fff;
                  }
                  a:hover {
                    background: #fff;
                    color: $navItemColor;
                  }
                }
            }
          }
        }
      }
    }
}

.menu-image {
  width: 33%;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 0;
    img {
      max-width: 80%;
      max-height: 170px;
    }
    figcaption {
      text-align: left;
      padding-top: 10px;
    }
}

#inner-main-navigation {
  background: #fff;
  .navbar-header {
    width: 6.6%;
  }
  #main-nav {
    width: 93.4%;
  }
  > nav {
    padding: 0;
    @include box-shadow(0px 1px 5px 0px , rgba(50, 50, 50, 0.75));
  }
}

// Search
#main-nav-search-field {
  width: 33%;
  position: absolute;
  right: 1px;
  bottom: -75px;
  padding: 20px 40px 5px;
  background: $gsaLightBlue;
}

// Breadcrumbs
#breadcrumbs {
  background: $gsaLightBlue;
  margin-top: 75px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
    @include desktops {
      margin-top: 30px;
    }
    @include large-desktops {
      margin-top: 0px;
    }
    ol {
      padding: 5px 0;
      margin: 0;
      li {
        text-transform: uppercase;
        color: $navItemColor;
        a {
          color: $navItemColor;
        }
      }
    }
}




