.rotating-feature-block {
  background: $offWhite;
  position: relative;
  margin-bottom: 30px;
    .row {
      margin: 0;
      max-height: 300px;
      figure {
        padding: 0;
          img {
            min-height: 100%;
          }
      }
      h4 {
        margin-top: 15px;
      }
    }
}

/* SLIDESHOW ISOTOPES */
.slidesjs-pagination {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 99;
  li {
    float: left;
    display: block;
    margin-right: 3px;
    background: #fff;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    a {
      display: block;
      padding-bottom: 0;
      &:hover, &.active {
        background: #eaeaea;
      }
    }

  }
}