.full-width-tabs-block {
    .nav {
       margin: 0;
       li {
         opacity: .75;
         padding: 0;
         text-align: center;
          @include tablets {
            width: 100%;
          }
         a {
           background: $gsaBeige;
           font-weight: bold;
           text-transform: uppercase;
           color: $navItemColor;
           @include border-radius(10px 10px 0 0);
           padding: 0;
           min-height: 45px;
            @include tablets {
              @include border-radius(0);
              min-height: 0;
              padding: 10px;
              margin-right: 0;
            }
         }
         &.active {
           opacity: 1;
            a {
              background: $gsaBeige;
            }
         }
         &:last-child {
            a {
              margin-right:0;
            }
         }
       }
    }
    header {
      padding: 20px 13px;
    }
    .tab-content {
      border: 1px solid $gsaBeige;
    }

}

// TABS
.tabs-section {
  background: #fff;
}
.tab-navigation {
  padding: 0;
  li {
    background: $gsaBeige;
    border-right: 1px solid rgba(0,0,0,0.2);
    &.active {
      background: #fff;
      font-weight: bold;
      @include box-shadow(inset 0px -3px 1px -1px, rgba(0,0,0,0.4));
      border-right: 0;
    }
    a {
      color: $navItemColor;
      border-bottom: 1px solid rgba(0,0,0,.2);
      &:hover,&:focus {
        font-weight: bold;
        background: #fff;
      }
    }
  }
}
.tab-content {
  background: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  @extend %searchForm;
    #perDiemCalculator {
      .form-horizontal {
        .form-group {
          margin: 5px 0;
        }
        input, select {
          padding: 10px;
          @include font-size(16px);
        }
      }
      .content-column {
        padding: 0 0 0 10px;
        margin: 0;
          &:last-child {
            position: absolute;
            bottom: 25px;
            right: 0;
            padding-right: 10px;
            @include desktops {
              position: relative;
              bottom: auto;
              right: auto;
              padding-right: 0;
              margin-top: 5px;
            }
          }
      }
    }

}